body{
    background-image:url(./pic.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    border: 8px solid greenyellow;
    margin: 0px;
}
.start{
    background-color: black;
    color: white;
    border: 7px solid red;
    border-radius:35px ;
    height:150px ;
    width:350px ;
    font-style: italic;
    font-weight:bold;
    font-size: xx-large;
    padding-left:23px;
}
.strart1{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}


.amaanzaidi{
    display:flex;
    justify-content:space-between;
    margin: 30px;
}
.starts{
    font-weight: lighter;
    font-style: italic;
    font-size: xx-large;
    border: 7px solid red;
    border-radius: 35px;
    height: 80px;
    width: 480px;
    margin-left: -250px;
    margin-top: 10px;
    padding-left: 50px;
    background-color: black;
    color: white;
    display: flex;
    align-items: self-end;
    justify-content: space-around;
}
.startss{
    font-weight: bold;
    font-style: italic;
    font-size: x-large;
    height: 150px;
    width: 400px;
    border: 7px solid red;
    border-radius: 35px;
    background-color: black;
    color: white;
}
.start3{
    display: flex;
    justify-content: center;
    padding-top: 18px;
}

.amaan{

color: red;
border:7px dashed red;
height:740px;
width: 470px;
font-weight: bolder;
font-size: larger;
margin-top: 30px;

}
.flex{
    display: flex;
}
.circle{
    background-color: lightblue;
    height:430px;
    width:430px;
    border:7px solid gray;
    border-radius: 50%;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    font-size: x-large;
    margin-top: 200px;
    
    
}
#h5{
   margin-top: 100px;
   margin-left: 110px;
}
#h6{
    margin-top: 30px;
    margin-left: 30px;
}
#h7{
    margin-top: 30px;
    margin-left: 30px;
}
#h8{
    margin-top: 40px;
    margin-left: 100px;
}
.main{
    
    color: blue;
    display: flex;
    justify-content: space-around;
    
}
.mainn{
    
    color: blue;
    display: flex;
    justify-content: space-around;
}
.main1{
    background-color: aqua;
    height: 280px;
    width: 280px;
    border: 5px solid green;
    border-radius: 30px;
}
   
.main1{
    background-color: aqua;
    height: 280px;
    width: 280px;
    border: 5px solid green;
    border-radius: 30px;
}
.main1{
    background-color: aqua;
    height: 280px;
    width: 280px;
    border: 5px solid green;
    border-radius: 30px;
}
.main4{
    background-color: aqua;
    height:280px;
    width: 280px;
    border: 5px solid green;
    border-radius: 25px;
    
}
.main4{
    background-color: aqua;
    height:280px;
    width: 280px;
    border: 5px solid green;
    border-radius: 25px;
    
}
.main4{
    background-color: aqua;
    height:280px;
    width: 280px;
    border: 5px solid green;
    border-radius: 25px;
    
}
.amaan2{
    color: white;
    background-color: black;
    border: 5px solid red;
    border-radius: 40px;
    height: 100px;
    width: 400px;
    font-style: italic;
    font-size: larger;
    font-weight: bold;
}






    
